<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283271180972-i0a3sa543o61ov4uoegg0thv1fvc8fvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283271180972-i0a3sa543o61ov4uoegg0thv1fvc8fvm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>283271180972-02ajuasfuecajd0holgu7iqb5hvtjgbp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQnhUWq0Bl6gpbjInO2TjKn1B1QlW_akg</string>
	<key>GCM_SENDER_ID</key>
	<string>283271180972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmonster.smap</string>
	<key>PROJECT_ID</key>
	<string>com-dmonster-smap</string>
	<key>STORAGE_BUCKET</key>
	<string>com-dmonster-smap.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:283271180972:ios:446ee0cb80e5070103e509</string>
</dict>
</plist>
